main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 5vh; */
  /* height: 200vh; */
  position: relative;
  top: 5vh;
}

canvas {
  top: 35vh;
  width: 90vw;
}

.test-width {
  position: absolute;
  height: 2vh;
  width: 100%;
  background-color: blue;
  z-index: 20;
  bottom: 23%;
}

.left-width {
  height: 2vh;
  width: 50%;
  background-color: red;
}

.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.game-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1vh 0;
}

.menu-btn {
  cursor: pointer;
}

.starter-pok-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.starter-pok-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.starter-pok {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.starter-pok-name {
  font-weight: 700;
}

.starter-pok-img {
  cursor: pointer;
  min-width: 10vw;
}

.d-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3vh;
  gap: 6vh;
  height: 9vh;
  width: 100%;
  margin-top: 5vh;
  
}

.up-div {
  display: flex;
  /* height: 3vh; */
  width: 100%;
}

.down-div {
  display: flex;
  width: 100%;
}


.left-right-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vmin;
  width: 100%;
}

#up {
  position: relative;
  left: 48%;
}

#down {
  position: relative;
  left: 48%;
}

#left {
  position: relative;
  left: 44%;
}

#right {
  position: relative;
  right: 44%;
}

@media screen and (max-width: 900px) {
  
#up {
  position: relative;
  left: 46.5%;
}

#down {
  position: relative;
  left: 46.5%;
}

#left {
  position: relative;
  left: 40%;
}

#right {
  position: relative;
  right: 40%;
}
}

@media screen and (max-width: 600px) {
  #up {
    position: relative;
    left: 45.3%;
  }
  
  #down {
    position: relative;
    left: 45.3%;
  }
  
  #left {
    position: relative;
    left: 36%;
  }
  
  #right {
    position: relative;
    right: 36%;
  }
}