canvas {
  margin-left: 5vmin;
  position: fixed;
  top: 35vh;
}

.starter-pok-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.starter-pok-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.starter-pok {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.starter-pok-name {
  font-weight: 700;
}

.starter-pok-img {
  cursor: pointer;
  min-width: 10vw;
}

.d-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3vh;
  gap: 6vh;
  height: 9vh;
  width: 100%;
}

.up-div {
  display: flex;
  /* height: 3vh; */
  width: 100%;
}

.down-div {
  display: flex;
  width: 100%;
}


.left-right-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vmin;
  width: 100%;
}

#up {
  position: relative;
  left: 48%;
}

#down {
  position: relative;
  left: 48%;
}

#left {
  position: relative;
  left: 44%;
}

#right {
  position: relative;
  right: 44%;
}