.battle-screen {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  /* top: 35vh; */
}

#battle-canvas {
  position: relative;
  /* background-color: black; */
  top: 0;
  margin: 0;
}

.canvas-div {
  background-color: black;
  padding: 5vmin;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battle-menu {
  background-color: whitesmoke;
  position: absolute;
  z-index: 3;
  top: 96%;
  left: 7%;
  width: 85%;
  height: 16%;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  gap: 20%;
}

.ether-move-menu {
  background-color: whitesmoke;
  position: absolute;
  z-index: 7;
  top: -4%;
  left: -.5%;
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ether-menu-text {
  width: 100%;
}

.move-selection {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 1vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ether-move-selection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option-selection {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1vmin;
}

.option-div {
  height: 50%;
  width: 50%;
  cursor: pointer;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.option-text {
  margin: 0;
}

.option-div:hover {
  background-color: rgba(155, 155, 55, .3);
}

.move {
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
}

.move:hover {
  background-color: rgba(155, 155, 55, .3);
}

.move-name {
  margin: 0;
}

.move-pp {
  margin: 0;
}

.move-type {
  margin: 0;
}

.health-box {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 35%;
  height: 12%;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.experience-box {
  position: relative;
  z-index: 1;
  background-color: black;
  width: 35%;
  height: 12%;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  top: 52%;
  left: 59%;
    box-shadow: rgba(0, 0, 0, .5) 15px 12px 8px 5px;
}

#opponent-health {
  top: 47%;
  left: 6%;
  box-shadow: rgba(0, 0, 0, .8) 15px 15px 8px 5px;
}

#user-health {
  top: 62%;
  left: 58%;
  /* box-shadow: rgba(0, 0, 0, .8) 15px 15px 8px 5px; */
}

.pokemon-info {
  display: flex;
  /* gap: 5%; */
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40%;
}

.pokemon-name {
  width: 50%;
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.pokemon-level {
  width: 50%;
  text-align: center;
  margin: 0;
}

.health-bar {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -40%;
  top: 30%;
}

.exp-bar {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -40%;
  top: 55%;
}

.health-sub {
  display: flex;
  margin: 0;
  align-items: center;
}

.exp-sub {
  display: flex;
  margin: 0;
  align-items: center;
}

.health-empty {
  background-color: rgba(0, 0, 0, .3);
  width: 75%;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}

.exp-empty {
  background-color: rgba(255, 255, 255, .3);
  width: 75%;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}

.health-percent {
  background-color: lime;
  width: 75%;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}

.exp-percent {
  background-color: lime;
  width: 75%;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}

.hp {
  padding-right: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.exp {
  color: white;
  padding-right: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.party-menu {
  position: absolute;
  z-index: 5;
  background-color: white;
  height: 58.8%;
  width: 45%;
  left: 49%;
  top: 53.2%;
  border: 5px solid black;
  border-radius: 10px;
}

.pokemon-med-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(155, 155, 55, .4);
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-left: 5vmin;
  cursor: pointer;
}

.party-level {
  margin-right: 10px;
}

.pokemon:hover {
  background-color: rgba(155, 155, 55, .3);
}

.party-close {
  position: absolute;
  bottom: 0px;
  /* right: 5px; */
  width: 100%;
  background-color: rgba(155, 155, 55, .3);
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7%;
}

.party-close>button {
  cursor: pointer;
}

.pokemon>div {
  display: none;
  width: 50%;
}



.pokemon:hover>div {
  display: inline;
}

.pack-menu {
  position: absolute;
  z-index: 5;
  background-color: white;
  height: 58.8%;
  width: 45%;
  left: 49%;
  top: 53.2%;
  border: 5px solid black;
  border-radius: 10px;
  /* overflow: scroll; */
}

.item-list {
  overflow: scroll;
  height: 87%;
}

.pocket-selection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vmin;
  height: 5vmin;
  background-color: rgba(155, 155, 55, .3);
  border-bottom: 2px solid black;
}

.pocket-selection>button {
  cursor: pointer;
}

.item {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item:hover {
  background-color: rgba(155, 155, 55, .3);
}

.item-description {
  display: none;
}

.item:hover>.item-description {
  display: inline;
}

.battle-text-div {
  position: absolute;
  z-index: 10;
  top: 96%;
  left: 6%;
  background-color: white;
  height: 16%;
  border: 5px solid black;
  border-radius: 5px;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  cursor: pointer;
}

.opponent-faint {
  position: absolute;
  z-index: 10;
  top: 96%;
  left: 6%;
  background-color: white;
  height: 16%;
  border: 5px solid black;
  border-radius: 5px;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  cursor: pointer;
}

.forget-move {
  position: absolute;
  z-index: 11;
  top: 102%;
  left: 6%;
  background-color: white;
  height: 16%;
  border: 5px solid black;
  border-radius: 5px;
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vmin;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  
}